@model IEnumerable<Proyecto.Models.Compra>

@{
    ViewBag.Title = "Compras";
}

@if (Convert.ToInt32(Session["idRol"]) == 2)
{

<h2>compras</h2>

<p>
  
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carro.modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carro.modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
           
            @Html.ActionLink("Detalles", "Details", new { id=item.idCompra }) |
          
        </td>
    </tr>
}

</table>
    @Html.ActionLink("Regresar", "../Compra/IndexUsuario")


}
else
{
    <h2> :( contenido invalido </h2>
}